*{
    margin: 0;
    padding: 0;
}

.contenTarjeta{
    width: 18vw;
    height: 320px;
    background-color: white;
    /* border-radius: 20px; */
    margin-left: 30px;
    padding: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.726);
    border: 2px solid #DD9078;
}

.contenTarjeta h2{
    color: #DD9078;   
}

.contenTarjeta p{
    color: #494D4E;
}

.caja-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img{
    width: 200px;
    height: 200px;
}

.boton{
    background-color: #dd9078b4;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.822);
    margin-top: 10px;
}

.boton:hover{
    background-color: #dd9078;
}