*{
    margin: 0;
    padding: 0;
}

.nav{
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #494D4E;
}

.nav h1{
    color: #F5E1DA;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li{
    padding: 10px;

}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu li a:hover{
    text-shadow: 0px 0px 3px;
    color: #F5E1DA;
}